# 我們這組要找的是耐久財訂單

設定selenium

In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait,Select
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
url="https://www.census.gov/econ/currentdata" #all the history data can be got from here
driver=webdriver.Chrome()
wait=WebDriverWait(driver,10)
driver.get(url)

利用Select來選擇資料
有時候會來不及選，所以使用time.sleep(1)確保順序不會亂掉

In [3]:
import time
#select manufacturers' shipments, inventories, and orders
s1=Select(driver.find_element(By.NAME,"programCode"))
s1.select_by_visible_text("Manufacturers' Shipments, Inventories, and Orders")
driver.find_element(By.XPATH,"//input[@type='submit']").click()
#1.survey and 2.range are chosen, only need to choose from 3
#select durable goods
s2=Select(driver.find_element(By.NAME,"categories"))
s2.select_by_visible_text("Durable Goods")
time.sleep(1)
#select new orders
s3=Select(driver.find_element(By.NAME,"dataType"))
s3.select_by_visible_text("New Orders")
time.sleep(1)
driver.find_element(By.XPATH,"//input[@type='submit']").click()

使用pandas取出網站的表格

In [4]:
import pandas as pd
url=driver.current_url
value=pd.read_html(url)[0]
value

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1992,NaN,114535.0,120025.0,124470.0,125822.0,122834.0,122590.0,120411.0,120711.0,127392.0,122374.0,126080.0
1,1993,121637.0,128854.0,126762.0,127395.0,126529.0,130212.0,128111.0,129378.0,127233.0,133168.0,130391.0,133565.0
2,1994,138498.0,137141.0,136548.0,140336.0,142630.0,145063.0,145013.0,145884.0,145487.0,149547.0,150038.0,152489.0
3,1995,150459.0,153856.0,152888.0,151401.0,152838.0,150051.0,148915.0,154372.0,160175.0,155473.0,156146.0,163279.0
4,1996,155806.0,150773.0,164976.0,156830.0,164502.0,164599.0,163588.0,157310.0,165442.0,165266.0,170783.0,162332.0
5,1997,161827.0,170221.0,167568.0,174054.0,168586.0,174828.0,178860.0,177302.0,177835.0,177801.0,191187.0,173770.0
6,1998,174288.0,181270.0,176886.0,180915.0,180634.0,172189.0,170459.0,179033.0,181422.0,178527.0,182400.0,178424.0
7,1999,186527.0,185546.0,184689.0,182993.0,185963.0,182590.0,189083.0,189414.0,188910.0,194547.0,186597.0,196344.0
8,2000,201360.0,183911.0,192130.0,195044.0,188606.0,219745.0,189265.0,188730.0,199947.0,186158.0,189392.0,188659.0
9,2001,177056.0,180276.0,182209.0,171850.0,177749.0,176350.0,170129.0,170484.0,164123.0,171530.0,163811.0,165304.0
10,2002,162677.0,171841.0,168977.0,171428.0,172069.0,166421.0,173723.0,176728.0,166978.0,168743.0,169790.0,163735.0
11,2003,169696.0,173699.0,173451.0,169697.0,170878.0,174062.0,172118.0,173335.0,178071.0,183414.0,181835.0,181803.0
12,2004,177762.0,181298.0,191592.0,184036.0,183806.0,185761.0,185341.0,184338.0,188516.0,185276.0,192224.0,193661.0
13,2005,194661.0,196411.0,186687.0,194938.0,206262.0,209657.0,194330.0,204929.0,203847.0,210368.0,221178.0,220933.0
14,2006,209185.0,219562.0,227294.0,214379.0,215341.0,220450.0,209607.0,211167.0,235898.0,217042.0,224474.0,230357.0
15,2007,219729.0,223319.0,229516.0,231261.0,227483.0,228963.0,235004.0,234619.0,227736.0,229499.0,230732.0,243635.0
16,2008,238685.0,234706.0,231964.0,229249.0,229007.0,228758.0,222311.0,216189.0,212577.0,192514.0,183384.0,173980.0
17,2009,154428.0,146911.0,144223.0,144279.0,149944.0,145632.0,155538.0,157289.0,158339.0,162950.0,161489.0,160461.0
18,2010,182717.0,177528.0,179308.0,184970.0,186143.0,187261.0,190467.0,190754.0,200981.0,195369.0,196200.0,195255.0
19,2011,203924.0,196057.0,210005.0,201508.0,204988.0,200671.0,210021.0,213471.0,208153.0,209670.0,217280.0,226612.0
20,2012,224138.0,225611.0,219693.0,218573.0,217304.0,218405.0,225570.0,201041.0,216919.0,218840.0,218004.0,230841.0
21,2013,217524.0,229875.0,210365.0,220884.0,229745.0,240742.0,217144.0,220311.0,231570.0,225578.0,237523.0,230895.0
22,2014,221764.0,230566.0,232196.0,236171.0,231129.0,236601.0,292098.0,236723.0,235914.0,230403.0,227376.0,224898.0
23,2015,226809.0,219658.0,227404.0,226658.0,219158.0,228982.0,230149.0,226234.0,220707.0,224077.0,224638.0,220455.0
24,2016,226403.0,216390.0,215735.0,227879.0,221175.0,208697.0,218481.0,221428.0,219373.0,230068.0,219741.0,222513.0
25,2017,223020.0,220970.0,227324.0,230479.0,227750.0,244004.0,225984.0,232140.0,243008.0,233017.0,238226.0,245875.0
26,2018,235508.0,246039.0,252760.0,250109.0,249374.0,251499.0,248571.0,260223.0,260178.0,248945.0,251197.0,254449.0
27,2019,255307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

整理表格成指定格式

In [5]:
iniy=value.iloc[0,0]
value = value.drop(labels='Year',axis=1)
value = value.values
value = value.flatten("C")
value = pd.DataFrame(value).rename(columns={0:"Value"})

import datetime
d = []
for i in range(len(value)):
    a = datetime.date(iniy+i//12, 1+i%12, 1)
    d.append(a)
d = pd.DataFrame(d).rename(columns={0:"Date"})

table = pd.DataFrame(columns=['Date'], data=d)
table["Value"] = value
table.dropna(axis=0,how='any').head(20)

          Date     Value
1   1992-02-01  114535.0
2   1992-03-01  120025.0
3   1992-04-01  124470.0
4   1992-05-01  125822.0
5   1992-06-01  122834.0
6   1992-07-01  122590.0
7   1992-08-01  120411.0
8   1992-09-01  120711.0
9   1992-10-01  127392.0
10  1992-11-01  122374.0
11  1992-12-01  126080.0
12  1993-01-01  121637.0
13  1993-02-01  128854.0
14  1993-03-01  126762.0
15  1993-04-01  127395.0
16  1993-05-01  126529.0
17  1993-06-01  130212.0
18  1993-07-01  128111.0
19  1993-08-01  129378.0
20  1993-09-01  127233.0